@model IEnumerable<EltonTradutor.Models.Palavra>

@{
    ViewData["Title"] = "Tradutor Inglês e Português";
}

<div>
    <h4>Dicionário de Inglês em Português.</h4>
    <form method="Post">

        <input type="search" id="busca" name="q" />
        <input type="submit" value="Pesquisar" class="btn btn-primary" placeholder="Digite sua pesquisa" />

    </form>
</div>

<hr />
@if (Model != null)
{
    <ul>
        @foreach (var item in Model)
        {


            <li><b>Palavra:</b> @Html.DisplayFor(modelItem => item.Termo) </li>
            <li><b>Pronúncia:</b> @Html.DisplayFor(modelItem => item.Pronuncia)</li>
            <li><b>Tradução:</b> @Html.DisplayFor(modelItem => item.Traducao)</li>
        

         }
    </ul>

}

